<section class="map padded" onclick="loadHandlebarsTemplate('cameratrap', 'main',{location:config.london})">
    <img alt="World Map" src="images/Kavraiskiy_VII_projection_SW.jpg" width="100%" height="auto" />
{{{text.map}}}
</section>
