<section class="flags" onclick="loadHandlebarsTemplate('helpoptions', 'main',{location:config.london})">
    <img alt="spoken language image" src="images/Kavraiskiy_VII_projection_SW.jpg" width="100%" height="auto" />
{{{text.map}}}
</section>
