/* Global + Resets */

body * {
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    max-width: 20%;
}

/* Main layout */

body {
    display: flex;
    background-color: black;
    color: aliceblue;
    justify-content: center
}

main {
/*    display: flex;
    flex-direction: column;*/
    width: 90%;
    justify-content: space-around;
}

 {
}

.helplist {
    width: 80%;
    flex-direction: row;
    margin: 2px;
}

section.buttonwrapper {
    display: inline;
    grid-template-rows: 50% 50%;
    justify-content: center;
}

section.buttonwrapper a {
    padding: 2px;
    justify-content: center;
}

.padded {
    padding: 0.5em;
}


/* Specific Styles */

h1 {
    font-size: 2.5vw;
}
h2 {
    font-size: 2vw;
}
button {
    border: none;
}

.helplist {
    padding: 2em;
    font-size: 1vw;
    background-color: aliceblue;
    color:darkslategrey;
    justify-content: center;
}
