/* Global + Resets */

body * {
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

/* Main layout */

body {
    display: flex;
    background-color: black;
    color: aliceblue;
    justify-content: center
}

main {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
}

 {
}

.buttonwrapper {
    order: 2;
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.padded {
    padding: 0.5em;
}


/* Specific Styles */

h1 {
    font-size: 4vw;
}
button {
    border: none;
}

.helplist {
    padding: 1em;
    font-size: 3vw;
    background-color: aliceblue;
    color:darkslategrey;
    justify-content: center;
}
